$MainFont: "Outfit", sans-serif;
$GlobalTitle: min(64px, min(8vh, 8vw));
$SubTitle: min(17px, min(2vh, 2vw));
$GlobalLetterSpacing: min(0.48px, min(0.5vh, 0.5vw));
$GlobalFontweight: 400;

@mixin typography(
  $fz,
  $lh,
  $textAlign
) {
  font-family: $MainFont;
  font-size: min($fz, min(calc(calc($fz/10px)*1vw), calc(calc($fz/10px)*1vh)));
  letter-spacing: $GlobalLetterSpacing;
  line-height: min($lh, min(calc(calc($lh/10px)*1vw), calc(calc($lh/10px)*1vh)));
  font-weight: $GlobalFontweight;
  text-align: $textAlign;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  width: min(15vw, 144px);
  height: 100%;
  border-radius: 20px;
  font-size: clamp(3px, 0.8vw, 13px);
  font-family: $MainFont;
  background-color: #2f2f2f;
  color: #ffffff;
}

.button:hover {
  background-color: aqua;
  color: #2f2f2f;
}
