$MainFont: "Outfit", sans-serif;
$GlobalTitle: min(64px, min(8vh, 8vw));
$SubTitle: min(17px, min(2vh, 2vw));
$GlobalLetterSpacing: min(0.48px, min(0.048vh, 0.048vw));
$GlobalFontweight: 400;

@mixin typography(
  $fz,
  $lh,
  $textAlign
) {
  font-family: $MainFont;
  font-size: min($fz, min($fz/10px*1vw, $fz/10px*1vh));
  letter-spacing: $GlobalLetterSpacing;
  line-height: min($lh, min($lh/10px*1vw, $lh/10px*1vh));
  font-weight: $GlobalFontweight;
  text-align: $textAlign;
}

@mixin  AdaptW ($Wpx){
  width: min($Wpx, min($Wpx/8px*1vw, $Wpx/8px*1vh));
}
@mixin AdaptH ($Hpx) {
  height: min($Hpx, min($Hpx/8px*1vw, $Hpx/8px*1vh));
}

@function adaptPx ($px){
  @return min($px, min($px/8px*1vw, $px/8px*1vh))
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  width: min(15vw, 144px);
  height: 100%;
  border-radius: 20px;
  font-size: clamp(3px, 0.8vw, 13px);
  font-family: $MainFont;
  background-color: #2f2f2f;
  color: #ffffff;
}

.button:hover {
  background-color: aqua;
  color: #2f2f2f;
}
