$MainFont: "Outfit", sans-serif;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  width: min(15vw, 144px);
  height: 100%;
  border-radius: 20px;
  font-size: clamp(3px, 0.8vw, 13px);
  font-family: $MainFont;
  background-color: #2f2f2f;
  color: #ffffff;
}

.button:hover {
  background-color: aqua;
  color: #2f2f2f;
}

.header {
  position: sticky;
  top: 1px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: min(2vh, 14px) 5vw 0 5vw;
  padding: min(2vh, 14px) min(3vw,50px) min(2vh, 14px) min(3vw,50px);
  width: min(84vw, 1140px);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
  transition-duration: 0.4s;
  background-color: rgba(240, 242, 255, 0.604);

  .logo-container {
    width: auto;
    .logo {
      width: min(91px, 7vw);
      max-width: 15vh;
      min-height: 100%;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;

    .site-navigation {
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: clamp(120px, 20%, 300px);
      height: 100%;
      padding: 0 10px;
      gap: 10px;

      &__item {
        min-width: 30px;
        font-family: $MainFont;
        font-size: clamp(6px, 0.8vw, 14px);
      }
    }

    .share {
      width: max(25%, 144px);
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 1vw;

      .social-networks {
        display: flex;
        justify-content: space-around;
        gap: 1vw;

        &__item {
          max-width: 2vw;
          align-self: center;
        }
      }
    }
  }
}

.menu-btn {
  z-index: 5;
  position: fixed;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  transform: translate(0, -10vh);
  transition-duration: 0.5s;
  box-sizing: border-box;
  border: solid 0;
  font-family: $MainFont;
  font-size: clamp(3px, 0.6vw, 13px);
  letter-spacing: -0.4px;
  border-radius: 5px;
  color: #2f2f2f;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
