$MainFont: "Outfit", sans-serif;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @import "main/_welcome.scss";
  @import "main/_nftSlideshow.scss";
  @import "main/_introduction.scss";
}
