$MainFont: "Outfit", sans-serif;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @import "main/_welcome.scss";
  @import "main/_slideshow.scss";
  @import "main/_introduction.scss";
  @import "main/_ourWork.scss";
  @import "main/_purposes.scss";
  @import "main/_joinUs.scss";
  @import "main/_collections.scss";
  @import "main/_top.scss";
  @import "main/_faq.scss";
}
