@media (max-width: 750px) {
  .main {
    .collections {
      &__grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media (max-width: 620px) {
  .header {
    z-index: 29;
    margin: 0;
    padding: 3px 45px 7px 31px;
    border-radius: 5px;
    position: fixed;
    top: 1px;
    right: 1px;
    transform: translate(0, -100vw);
    width: 50px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transition-duration: 0.5s;
    background-color: rgba(240, 242, 255, 0.604);

    .logo {
      width: 32px;
      margin-left: min(-11px, -1vw);
    }

    .navbar {
      width: 100%;
      flex-direction: column;

      .site-navigation {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 5px;
        width: auto;
        gap: 0px;

        &__item {
          font-size: 5px;
        }
      }

      .share {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;

        .social-networks {
          &__item {
            width: 8px;
          }
        }

        .header-button {
          width: 50px;
          height: 15px;
        }
      }
    }
    &.active {
      transform: translate(0);
    }
  }
  .menu-btn {
    transform: translate(0, 0);
  }

  .main {
    .welcome {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 20px;

      .title-container {
        margin-top: 6vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
      }

      .images-container {
        width: 100%;
        flex-direction: row;

        .img-wrapper
          .creator-container-wrapper
          .creator-container.lee-container {
          bottom: min(min(25vh, 25vw), 250px);
          right: -51%;
        }

        .img-wrapper {
          .creator-container-wrapper .creator-container.mia-container {
            bottom: min(min(25vh, 25vw), 250px);
            left: min(8vh, 8vw);
            width: 10vw;
          }

          .mia-potter-picture {
            bottom: 0; // min(40px, 3vh);
            width: 30vw;
            height: auto;
          }
          .lee-stone-picture {
            width: 30vw;
            height: auto;
          }
        }
      }
    }

    .introduction {
      .member {
        margin-top: 5vh;
        .member__content {
          flex-direction: column;
          align-items: center;
          gap: min(2vh, 2vw);

          .member__details {
            align-self: center;
            width: 80%;
          }
          .member__photo {
            align-self: center;
          }
        }
      }
    }

    .our-work {
      margin-top: min(30vw, 30vh);
      flex-direction: column;
      .our-work__photo {
        margin-right: 0;
      }
      .our-work__details {
        padding-left: 0%;
      }
    }

    .purposes {
      align-items: center;
      margin-top: adaptPx(350px);
      flex-direction: column;

      .purposes__photo {
        @include AdaptW(calc(552px / 1.5));
        @include AdaptH(calc(596px / 1.5));
      }

      .purposes-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        gap: adaptPx(10px);

        .purposes-list__item {
          display: flex;
          flex-direction: column;
          margin-bottom: adaptPx(32px);

          .purposes-list__item-number {
            align-self: center;
            box-sizing: border-box;
            display: block;
            @include AdaptW(57px);
            @include AdaptH(35px);
            padding: adaptPx(8px);
            margin-bottom: adaptPx(8px);
            border-radius: adaptPx(30px);
            @include typography(16px, 18px, center);

            &.green {
              background-color: rgba(130, 203, 172, 1);
            }
            &.red {
              background-color: rgba(255, 127, 150, 1);
            }
            &.yellow {
              background-color: rgba(234, 215, 27, 1);
            }
          }

          .purposes-list__item-title {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            height: adaptPx(80px);
            @include typography(35px, 36px, center);
            font-weight: 700;
          }

          .purposes-list__item-details {
            @include typography(18px, 26px, center);
          }
        }
      }
    }
  }
}
