.footer {
    margin: adaptPx(90px) adaptPx(64px) adaptPx(25px) adaptPx(64px);
    width: 70%;
    display: flex;
    flex-direction: column;
    height: adaptPx(300px);
    &__content-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90%;
    }
    &__content-column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        height: 100%;
    }
    &__join {
    }
    &__logo {
    }
    &__join-title {
    }
    &__scl-ntws {
    }
    &__scl-ntwk-ref {
    }
    &__sn-img{
    }
    &__site {
    }
    &__site-title {
    }
    &___items-list {
    }
    &__list-item {
    }
    &__list-ref {
    }
    &__utility {
    }
    &__utility-title {
    }
    &__stay-in {
    }
    &__stay-in-title {
    }
    &__stay-in-details {
    }
    &__email-container {
    }
    &__email {
    }
    &__sign-up-button {
    }
    &__copiright {
        display: flex;
        justify-content: space-between;
    }
    &__rights {
    }
    &__authors {
    }
    &__author {
    }
}
