.introduction {
  margin: min(120px, 30vh) 5vw 0 5vw;
  width: min(1140px, 84vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .introduction__title {
    display: flex;
    flex-direction: column;
    gap: min(2vh, 25px);
    align-items: center;
    justify-content: center;

    .introduction__main-title {
      font-family: $MainFont;
      font-size: $GlobalTitle;
      font-weight: 400;
      line-height: $GlobalTitle;
      letter-spacing: $GlobalLetterSpacing;
      text-align: center;
    }
    .introduction__sub-title {
      width: 70%;
      @include typography(17px, 17px, center);
      font-family: $MainFont;
      font-size: $SubTitle;
      font-weight: 400;
      line-height: $SubTitle;
      letter-spacing: $GlobalLetterSpacing;
      text-align: center;
    }
  }
}

.member {
  width: 100%;
  margin: min(120px, 30vh) 5vw 0 5vw;
  width: min(1104px, 84vw);
  .member__menu {
    justify-content: space-between;
    gap: max(7px, 2vw);
    .member__button {
      width: min(179px, 16%);
      height: min(50px, min(4vh, 4vw));
      font-size: clamp(5px, 1.2vw, 22px);
    }
    .member__button.active {
      background-color: aqua;
      color: #2f2f2f;
    }
  }
  .member__content {
    display: flex;
    align-items: center;
    margin-top: min(64px, 8vh);
  }
  .member__photo {
    width: min(552px, min(69vh, 69vw));
    height: min(395px, min(49vh, 49vw));
  }
  .member__details {
    width: 50%;
    display: none;
  }
  .member__details.active {
    display: block;
    color: rgb(128, 0, 255);
  }
  .member__job-title {
    color: rgba(255, 127, 150, 1);
    @include typography(16px, 18px, left);
  }
  .member__title {
    color: rgba(47, 47, 47, 1);
    @include typography(36px, 36px, left);
  }
  .member__description {
    color: rgba(47, 47, 47, 1);
    @include typography(20px, 26px, left);
  }
}
