.nft-slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: min(400px, min(50vh, 50vw));
  display: flex;
  width: min(100vw, 1440px);
  height: min(20vw, 320px);
  overflow: hidden;

  .nft-pic {
    width: calc(100vw / 9);
    height: min(calc(100vw / 9), 160px);
    animation: slide 10s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(calc((min(calc(100vw / 9), 160px) * (-9))), 0, 0);
    }
  }
  &:hover .nft-pic {
    animation-play-state: paused;
    // animation: enlarge 3s;
  }

  // @keyframes enlarge {
  //   from {
  //     translate: scale(1);
  //   }
  //   // 1% {
  //   //   translate: scale(2);
  //   // }
  //   // 99% {
  //   //   translate: scale(2);
  //   // }
  //   to {
  //     translate: scale(2);
  //   }
  // }
}
