.nft-slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: min(400px, min(50vh, 50vw));
  display: flex;
  width: min(100vw, 1440px);
  height: min(18vw, 320px);
  overflow: hidden;

  .nft-pic {
    z-index: 1;
    width: calc(100vw / 9);
    height: min(calc(100vw / 9), 160px);
    animation: slide 18s linear infinite;
    transition-duration: 0.5s;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(calc((min(calc(100vw / 9), 160px) * (-9))), 0, 0);
    }
  }
  &:hover .nft-pic {
    animation-play-state: paused;
  }
}
