.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: adaptPx(95px);
  @include AdaptW(1200px);

  &__title {
    @include typography(64px, 64px, center);
  }

  &__grid {
    margin-top: adaptPx(25px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: adaptPx(38px);
    // grid-row-gap: adaptPx(38px);
    justify-items: center;
    align-items: center;
  }

  &__button {
    margin-top: adaptPx(64px);
    width: adaptPx(134px);
    height: adaptPx(44px);
    border-radius: 0px;
    box-sizing: border-box;
    align-self: center;
    
  }
}

.nft-card {
  width: max(350px,50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  &__pic {
    @include AdaptW(332px);
  }

  &__info {
    box-sizing: border-box;
    @include AdaptW(332px);
    margin: 5% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__name {
    width: 65%;
    @include typography(20px, 18px, left);
  }
  &__number {
    @include typography(20px, 18px, left);
    font-weight: 700;
    &::before{
        content: "#";
    }
  }
  &__enlarge {
    @include AdaptH(38px);
    @include AdaptW(38px);
    border-width: 0px;
    cursor: pointer;
  }
  &__enlarge-pic {
    @include AdaptH(18px);
    @include AdaptW(18px);
  }
  &__lock {
    @include AdaptH(38px);
    @include AdaptW(38px);
    border-radius: 20px;
    border-width: 0px;
    background-color: rgba(255, 127, 150, 1);
    cursor: pointer;
  }
  &__lock-pic {
    @include AdaptH(18px);
    @include AdaptW(18px);

  }
}
