* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  width: min(15vw, 144px);
  height: 100%;
  border-radius: 20px;
  font-size: clamp(3px, 0.8vw, 13px);
  font-family: "Outfit", sans-serif;
  background-color: #2f2f2f;
  color: #ffffff;
}

.button:hover {
  background-color: aqua;
  color: #2f2f2f;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: min(2vh, 14px) 5vw 0 5vw;
  padding: min(2vh, 14px) min(3vw, 50px) min(2vh, 14px) min(3vw, 50px);
  width: min(84vw, 1140px);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
  transition-duration: 0.4s;
  background-color: rgba(240, 242, 255, 0.604);
}
.header .logo-container {
  width: auto;
}
.header .logo-container .logo {
  width: min(91px, 7vw);
  max-width: 15vh;
  min-height: 100%;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
}
.header .navbar .site-navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: clamp(120px, 20%, 300px);
  height: 100%;
  padding: 0 10px;
  gap: 10px;
}
.header .navbar .site-navigation__item {
  min-width: 30px;
  font-family: "Outfit", sans-serif;
  font-size: clamp(6px, 0.8vw, 14px);
  color: rgb(34, 34, 34);
}
.header .navbar .share {
  width: max(25%, 144px);
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1vw;
}
.header .navbar .share .social-networks {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}
.header .navbar .share .social-networks__item {
  max-width: 2vw;
  align-self: center;
}

.menu-btn {
  z-index: 30;
  position: fixed;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  transform: translate(0, -10vh);
  transition-duration: 0.5s;
  box-sizing: border-box;
  border: solid 0;
  font-family: "Outfit", sans-serif;
  font-size: clamp(3px, 0.6vw, 13px);
  letter-spacing: -0.4px;
  border-radius: 5px;
  font-weight: bold;
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .welcome {
  z-index: 0;
  margin: 0 5vw 0 5vw;
  width: min(1140px, 84vw);
  height: 360px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}
.main .welcome .title-container {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.main .welcome .title-container .extraodinary {
  color: rgb(130, 203, 172);
  font-style: normal;
  font-weight: 400;
  font-size: min(13px, min(2vh, 2vw));
  line-height: min(14px, min(2vh, 2vw));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
}
.main .welcome .title-container h1 {
  font-size: min(64px, min(8vh, 8vw));
  font-weight: 400;
  color: #2f2f2f;
}
.main .welcome .title-container p {
  font-size: min(17px, min(2vh, 2vw));
}
.main .welcome .images-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .welcome .images-container .img-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 40%;
}
.main .welcome .images-container .img-wrapper .lee-stone-picture {
  position: relative;
  z-index: 1;
  width: min(325px, 60%);
  top: 15%;
  cursor: pointer;
}
.main .welcome .images-container .img-wrapper .mia-potter-picture {
  position: relative;
  z-index: 2;
  width: min(325px, 60%);
  bottom: min(40px, 25vh);
  left: 25%;
  cursor: pointer;
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper {
  height: 10px;
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container {
  z-index: 3;
  padding: min(2vh, 5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8509803922);
  border-radius: 5vh;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition-duration: 0.5s;
  width: min(10vw, 140px);
  height: min(4vh, 50px);
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container__text {
  font-family: "Outfit", sans-serif;
  margin-left: 1vh;
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container__text h2 {
  font-size: min(min(2vh, 2vw), 16px);
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container__text p {
  font-size: min(min(1vh, 1vw), 11px);
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container__img {
  width: min(3vw, 25px);
  height: min(3vw, 25px);
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container.lee-container {
  bottom: min(min(40vh, 20vw), 300px);
  right: 20%;
}
.main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container.mia-container {
  bottom: min(24vh, 120px);
  left: 20%;
}
.main .slideshow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: calc(2 * min(11.1111111111vw, 160px));
  width: min(100vw, 1440px);
  height: min(11.1111111111vw, 160px);
  overflow: hidden;
}
.main .slideshow .slideshow__img-container {
  width: min(11.1111111111vw, 160px);
  height: min(11.1111111111vw, 160px);
  -webkit-animation: slide 5s linear infinite;
          animation: slide 5s linear infinite;
}
.main .slideshow .slideshow__img-container .slideshow__img {
  width: min(11.1111111111vw, 160px);
  height: min(11.1111111111vw, 160px);
}
@-webkit-keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(min(11.1111111111vw, 160px) * -9), 0, 0);
  }
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(min(11.1111111111vw, 160px) * -9), 0, 0);
  }
}
.main .introduction {
  margin: min(120px, min(30vh, 30vw)) 5vw 0 5vw;
  width: min(1140px, 84vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .introduction .introduction__title {
  display: flex;
  flex-direction: column;
  gap: min(2vh, 25px);
  align-items: center;
  justify-content: center;
}
.main .introduction .introduction__title .introduction__main-title {
  font-family: "Outfit", sans-serif;
  font-size: min(64px, min(8vh, 8vw));
  font-weight: 400;
  line-height: min(64px, min(8vh, 8vw));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  text-align: center;
}
.main .introduction .introduction__title .introduction__sub-title {
  width: 70%;
  font-family: "Outfit", sans-serif;
  font-size: min(17px, min(1.7vw, 1.7vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(17px, min(1.7vw, 1.7vh));
  font-weight: 400;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: min(17px, min(2vh, 2vw));
  font-weight: 400;
  line-height: min(17px, min(2vh, 2vw));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  text-align: center;
}
.main .member {
  width: 100%;
  margin: min(120px, 30vh) 5vw 0 5vw;
  width: min(1104px, 84vw);
}
.main .member .member__menu {
  justify-content: space-between;
  gap: max(7px, 2vw);
}
.main .member .member__menu .member__button {
  width: min(179px, 16%);
  height: min(50px, min(5vh, 5vw));
  font-family: "Outfit", sans-serif;
  font-size: min(15px, min(1.5vw, 1.5vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: center;
  border-width: min(0.15vh, 5px);
}
.main .member .member__menu .member__button.active {
  background-color: aqua;
  color: #2f2f2f;
}
.main .member .member__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: min(64px, 8vh);
}
.main .member .member__photo {
  width: min(552px, min(69vh, 69vw));
  height: min(395px, min(49vh, 49vw));
}
.main .member .member__details {
  width: min(552px, min(55.2vw, 55.2vh));
  display: none;
}
.main .member .member__details.active {
  display: block;
  color: rgb(128, 0, 255);
}
.main .member .member__job-title {
  color: rgb(255, 127, 150);
  font-family: "Outfit", sans-serif;
  font-size: min(16px, min(1.6vw, 1.6vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(18px, min(1.8vw, 1.8vh));
  font-weight: 400;
  text-align: left;
}
.main .member .member__title {
  color: rgb(47, 47, 47);
  font-family: "Outfit", sans-serif;
  font-size: min(36px, min(3.6vw, 3.6vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(36px, min(3.6vw, 3.6vh));
  font-weight: 400;
  text-align: left;
}
.main .member .member__description {
  color: rgb(47, 47, 47);
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(26px, min(2.6vw, 2.6vh));
  font-weight: 400;
  text-align: left;
}
.main .our-work {
  margin-top: min(146px, min(14.6vw, 14.6vh));
  width: min(1200px, 94vw);
  height: min(450px, min(45vh, 45vw));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .our-work .our-work__photo {
  margin-right: min(15px, min(1.5vw, 1.5vh));
  width: min(585px, min(63.5vh, 63.5vw));
  height: min(450px, min(45vh, 45vw));
}
.main .our-work .our-work__details {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: min(57px, min(5.7vw, 5.7vh)) 0px 0px min(48px, min(4.8vh, 4.8vw));
  width: min(600px, min(70vh, 70vw));
  height: min(450px, min(45vh, 45vw));
}
.main .our-work .our-work__details .our-work__title {
  font-family: "Outfit", sans-serif;
  font-size: min(35px, min(3.5vw, 3.5vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(36px, min(3.6vw, 3.6vh));
  font-weight: 400;
  text-align: 0.48px;
}
.main .our-work .our-work__details .our-work__post-title {
  margin-top: min(7px, min(0.7vh, 0.7vw));
  font-family: "Outfit", sans-serif;
  font-size: min(48px, min(4.8vw, 4.8vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(48px, min(4.8vw, 4.8vh));
  font-weight: 400;
  text-align: 0.48px;
}
.main .our-work .our-work__details .our-work__description {
  margin-top: min(38px, min(3.8vh, 3.8vw));
  font-family: "Outfit", sans-serif;
  font-size: min(18px, min(1.8vw, 1.8vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(26px, min(2.6vw, 2.6vh));
  font-weight: 400;
  text-align: 0.48px;
}
.main .our-work .our-work__details .our-work__about-btn {
  margin-top: min(32px, min(3.2vh, 3.2vw));
  border-radius: 0px;
  border-width: min(0.15vh, 5px);
  width: min(166px, min(16.6vw, 16.6vh));
  height: min(44px, min(4.4vw, 4.4vh));
  align-self: flex-end;
  font-family: "Outfit", sans-serif;
  font-size: min(15px, min(1.5vw, 1.5vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: center;
}
.main .purposes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  box-sizing: border-box;
  margin-top: min(84px, min(10.5vw, 10.5vh));
  margin-left: 3vw;
  margin-right: 3vw;
  width: min(1200px, 94vw);
  height: min(596px, min(74.5vw, 74.5vh));
}
.main .purposes .purposes__photo {
  align-self: center;
  width: min(552px, min(69vw, 69vh));
  height: min(596px, min(74.5vw, 74.5vh));
}
.main .purposes .purposes-list {
  width: min(552px, min(69vw, 69vh));
  height: min(615px, min(76.875vw, 76.875vh));
  margin-top: min(30px, min(3.75vw, 3.75vh));
  margin-right: min(55px, min(6.875vw, 6.875vh));
  margin-bottom: min(55px, min(6.875vw, 6.875vh));
  margin-left: min(55px, min(6.875vw, 6.875vh));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.main .purposes .purposes-list .purposes-list__item {
  margin-bottom: min(32px, min(4vw, 4vh));
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-number {
  box-sizing: border-box;
  display: block;
  width: min(57px, min(7.125vw, 7.125vh));
  height: min(35px, min(4.375vw, 4.375vh));
  padding: min(8px, min(1vw, 1vh));
  margin-bottom: min(8px, min(1vw, 1vh));
  border-radius: min(30px, min(3.75vw, 3.75vh));
  font-family: "Outfit", sans-serif;
  font-size: min(16px, min(1.6vw, 1.6vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(18px, min(1.8vw, 1.8vh));
  font-weight: 400;
  text-align: center;
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.green {
  background-color: rgb(130, 203, 172);
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.red {
  background-color: rgb(255, 127, 150);
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.yellow {
  background-color: rgb(234, 215, 27);
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-title {
  margin-bottom: min(13px, min(1.625vw, 1.625vh));
  font-family: "Outfit", sans-serif;
  font-size: min(35px, min(3.5vw, 3.5vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(36px, min(3.6vw, 3.6vh));
  font-weight: 400;
  text-align: left;
  font-weight: 700;
}
.main .purposes .purposes-list .purposes-list__item .purposes-list__item-details {
  font-family: "Outfit", sans-serif;
  font-size: min(18px, min(1.8vw, 1.8vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(26px, min(2.6vw, 2.6vh));
  font-weight: 400;
  text-align: left;
}
.main .join-us {
  margin-top: min(220px, min(27.5vw, 27.5vh));
  display: flex;
  flex-direction: column;
  height: auto;
  width: min(1440px, 140vw);
  background-color: rgb(130, 203, 172);
}
.main .join-us .join-us__img-wrap {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../img/main/join-us.png");
  position: relative;
  width: min(1440px, 140vw);
  height: min(min(100vh, 510px), 50vw);
}
.main .join-us .join-us__text {
  width: min(1140px, 94vw);
  padding-top: min(80px, min(10vw, 10vh));
  height: min(0px, min(0vw, 0vh));
  align-self: center;
}
.main .join-us .join-us__text .join-us__title {
  width: min(657px, min(82.125vw, 82.125vh));
  font-family: "Outfit", sans-serif;
  font-size: min(64px, min(6.4vw, 6.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(64px, min(6.4vw, 6.4vh));
  font-weight: 400;
  text-align: left;
}
.main .join-us .join-us__text .join-us__subtitle {
  width: min(552px, min(69vw, 69vh));
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(26px, min(2.6vw, 2.6vh));
  font-weight: 400;
  text-align: left;
}
.main .collections {
  width: min(min(1200px, min(150vw, 150vh)), 94vw);
  margin-top: min(100px, min(12.5vw, 12.5vh));
  display: flex;
  flex-direction: column;
}
.main .collections__title {
  font-family: "Outfit", sans-serif;
  font-size: min(64px, min(6.4vw, 6.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(64px, min(6.4vw, 6.4vh));
  font-weight: 400;
  text-align: center;
}
.main .collections__grid {
  margin-top: min(73px, min(9.125vw, 9.125vh));
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: min(63px, min(7.875vw, 7.875vh));
  grid-row-gap: min(30px, min(3.75vw, 3.75vh));
  width: min(min(1200px, min(150vw, 150vh)), 94vw);
}
.main .collections .collection-card {
  box-sizing: border-box;
  border: min(2.5px, min(0.3125vw, 0.3125vh)) solid black;
  border-radius: min(29.5px, min(3.6875vw, 3.6875vh));
  width: min(358px, min(30vw, 30vh));
  transition-duration: 0.5s;
  overflow: hidden;
}
.main .collections .collection-card__picture {
  position: relative;
  width: min(358px, min(30vw, 30vh));
  height: auto;
}
.main .collections .collection-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(92px, min(11.5vw, 11.5vh));
  width: min(358px, min(30vw, 30vh));
  font-family: "Outfit", sans-serif;
  font-size: min(26px, min(2.6vw, 2.6vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(26px, min(2.6vw, 2.6vh));
  font-weight: 400;
  text-align: center;
  font-weight: 700;
}
.main .collections .collection-card:hover {
  border-color: rgb(255, 113, 47);
}
.main .collections .collection-card:hover .collection-card__title {
  color: rgb(255, 113, 47);
}
.main .collections__button {
  margin-top: min(64px, min(8vw, 8vh));
  width: min(134px, min(16.75vw, 16.75vh));
  height: min(44px, min(5.5vw, 5.5vh));
  border-radius: 0px;
  box-sizing: border-box;
  align-self: center;
}
.main .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: min(95px, min(11.875vw, 11.875vh));
  width: min(1200px, min(150vw, 150vh));
}
.main .top__title {
  font-family: "Outfit", sans-serif;
  font-size: min(64px, min(6.4vw, 6.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(64px, min(6.4vw, 6.4vh));
  font-weight: 400;
  text-align: center;
}
.main .top__grid {
  margin-top: min(25px, min(3.125vw, 3.125vh));
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: min(38px, min(4.75vw, 4.75vh));
  justify-items: center;
  align-items: center;
}
.main .top__button {
  margin-top: min(64px, min(8vw, 8vh));
  width: min(134px, min(16.75vw, 16.75vh));
  height: min(44px, min(5.5vw, 5.5vh));
  border-radius: 0px;
  box-sizing: border-box;
  align-self: center;
}
.main .nft-card {
  width: max(350px, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.main .nft-card__pic {
  width: min(332px, min(41.5vw, 41.5vh));
}
.main .nft-card__info {
  box-sizing: border-box;
  width: min(332px, min(41.5vw, 41.5vh));
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .nft-card__name {
  width: 65%;
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(18px, min(1.8vw, 1.8vh));
  font-weight: 400;
  text-align: left;
}
.main .nft-card__number {
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(18px, min(1.8vw, 1.8vh));
  font-weight: 400;
  text-align: left;
  font-weight: 700;
}
.main .nft-card__number::before {
  content: "#";
}
.main .nft-card__enlarge {
  height: min(38px, min(4.75vw, 4.75vh));
  width: min(38px, min(4.75vw, 4.75vh));
  border-width: 0px;
  cursor: pointer;
}
.main .nft-card__enlarge-pic {
  height: min(18px, min(2.25vw, 2.25vh));
  width: min(18px, min(2.25vw, 2.25vh));
}
.main .nft-card__lock {
  height: min(38px, min(4.75vw, 4.75vh));
  width: min(38px, min(4.75vw, 4.75vh));
  border-radius: 20px;
  border-width: 0px;
  background-color: rgb(255, 127, 150);
  cursor: pointer;
}
.main .nft-card__lock-pic {
  height: min(18px, min(2.25vw, 2.25vh));
  width: min(18px, min(2.25vw, 2.25vh));
}
.main .faq {
  margin: min(55px, min(6.875vw, 6.875vh)) 5vw 0 5vw;
  width: min(1140px, 84vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .faq__title {
  width: 100%;
  margin-bottom: min(25px, min(3.125vw, 3.125vh));
  font-family: "Outfit", sans-serif;
  font-size: min(64px, min(6.4vw, 6.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(64px, min(6.4vw, 6.4vh));
  font-weight: 400;
  text-align: left;
}
.main .question {
  width: 100%;
  margin: min(48px, min(6vw, 6vh)) min(26px, min(3.25vw, 3.25vh)) min(30px, min(3.75vw, 3.75vh)) min(26px, min(3.25vw, 3.25vh));
}
.main .question__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .question__title {
  font-family: "Outfit", sans-serif;
  font-size: min(22px, min(2.2vw, 2.2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(24px, min(2.4vw, 2.4vh));
  font-weight: 400;
  text-align: left;
}
.main .question__to-details {
  display: flex;
  width: min(40px, min(5vw, 5vh));
  height: min(40px, min(5vw, 5vh));
  border: none;
  background-color: #ffffff;
  transition-duration: 0.5s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .question__to-details-pic {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
.main .question__to-details-pic__active {
  transform: rotate(180deg);
}
.main .question__details {
  opacity: 0;
  transition-duration: 0.5s;
  width: 90%;
  height: 0%;
  font-size: 1px;
}
.main .question__details__active {
  margin: min(40px, min(5vw, 5vh));
  font-family: "Outfit", sans-serif;
  font-size: min(22px, min(2.2vw, 2.2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(24px, min(2.4vw, 2.4vh));
  font-weight: 400;
  text-align: left;
  transition-duration: 0.5s;
}
.main .question__details__active1 {
  opacity: 1;
}

.footer {
  margin: min(90px, min(11.25vw, 11.25vh)) 10vw min(25px, min(3.125vw, 3.125vh)) 10vw;
  display: flex;
  flex-direction: column;
  height: min(300px, min(37.5vw, 37.5vh));
}
.footer__content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}
.footer__content-column {
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(20px, min(2vw, 2vh));
  font-weight: 400;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
  margin: min(25px, min(3.125vw, 3.125vh));
  display: flex;
  flex-direction: column;
  gap: min(25px, min(3.125vw, 3.125vh));
  width: 15%;
  height: 100%;
}
.footer__join {
  width: 25%;
}
.footer__logo {
  width: 60%;
  height: auto;
}
.footer__scl-ntws {
  display: flex;
  gap: 8%;
}
.footer__site-title {
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(20px, min(2vw, 2vh));
  font-weight: 400;
  text-align: left;
}
.footer___items-list {
  list-style: none;
}
.footer__list-item {
  font-family: "Outfit", sans-serif;
  font-size: min(14px, min(1.4vw, 1.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: left;
  margin-top: min(5px, min(0.625vw, 0.625vh));
}
.footer__list-ref {
  color: rgb(47, 47, 47);
}
.footer__utility-title {
  font-family: "Outfit", sans-serif;
  font-size: min(20px, min(2vw, 2vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(20px, min(2vw, 2vh));
  font-weight: 400;
  text-align: left;
}
.footer__stay-in {
  width: 40%;
}
.footer__stay-in-title {
  font-family: "Outfit", sans-serif;
  font-size: min(35px, min(3.5vw, 3.5vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(28.8px, min(2.88vw, 2.88vh));
  font-weight: 400;
  text-align: left;
}
.footer__email-container {
  margin: 0px min(40px, min(5vw, 5vh)) 0px 0px;
  box-sizing: border-box;
  gap: min(25px, min(3.125vw, 3.125vh));
  display: flex;
  justify-content: space-between;
  height: 15%;
}
.footer__email {
  border-radius: min(20px, min(2.5vw, 2.5vh));
  border-width: 0px;
  background-color: rgb(246, 246, 246);
  width: 80%;
  padding-left: min(10px, min(1.25vw, 1.25vh));
}
.footer__email::-moz-placeholder {
  font-family: "Outfit", sans-serif;
  font-size: min(14px, min(1.4vw, 1.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: left;
}
.footer__email:-ms-input-placeholder {
  font-family: "Outfit", sans-serif;
  font-size: min(14px, min(1.4vw, 1.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: left;
}
.footer__email::placeholder {
  font-family: "Outfit", sans-serif;
  font-size: min(14px, min(1.4vw, 1.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: left;
}
.footer__sign-up-button {
  width: 30%;
}
.footer__copiright {
  font-family: "Outfit", sans-serif;
  font-size: min(14px, min(1.4vw, 1.4vh));
  letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
  line-height: min(16px, min(1.6vw, 1.6vh));
  font-weight: 400;
  text-align: left;
  align-self: center;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.footer__author {
  color: rgb(255, 127, 150);
}

@media (max-width: 1150px) {
  .main .top__grid {
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .main .collections__grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 800px) {
  .main .top__grid {
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 800px) {
  .footer {
    height: auto;
  }
  .footer__content-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__content-column {
    width: auto;
    height: auto;
  }
}
@media (max-width: 620px) {
  .header {
    z-index: 29;
    margin: 0;
    padding: 3px 45px 7px 31px;
    border-radius: 5px;
    position: fixed;
    top: 1px;
    right: 1px;
    transform: translate(0, -100vw);
    width: 50px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transition-duration: 0.5s;
    background-color: rgba(240, 242, 255, 0.604);
  }
  .header .logo {
    width: 32px;
    margin-left: min(-11px, -1vw);
  }
  .header .navbar {
    width: 100%;
    flex-direction: column;
  }
  .header .navbar .site-navigation {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    width: auto;
    gap: 0px;
  }
  .header .navbar .site-navigation__item {
    font-size: 5px;
  }
  .header .navbar .share {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header .navbar .share .social-networks__item {
    width: 8px;
  }
  .header .navbar .share .header-button {
    width: 50px;
    height: 15px;
  }
  .header.active {
    transform: translate(0);
  }
  .menu-btn {
    transform: translate(0, 0);
  }
  .main .welcome {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .main .welcome .title-container {
    margin-top: 6vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .main .welcome .images-container {
    width: 100%;
    flex-direction: row;
  }
  .main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container.lee-container {
    bottom: min(min(25vh, 25vw), 250px);
    right: -51%;
  }
  .main .welcome .images-container .img-wrapper .creator-container-wrapper .creator-container.mia-container {
    bottom: min(min(25vh, 25vw), 250px);
    left: min(8vh, 8vw);
    width: 10vw;
  }
  .main .welcome .images-container .img-wrapper .mia-potter-picture {
    bottom: 0;
    width: 30vw;
    height: auto;
  }
  .main .welcome .images-container .img-wrapper .lee-stone-picture {
    width: 30vw;
    height: auto;
  }
  .main .introduction .member {
    margin-top: 5vh;
  }
  .main .introduction .member .member__content {
    flex-direction: column;
    align-items: center;
    gap: min(2vh, 2vw);
  }
  .main .introduction .member .member__content .member__details {
    align-self: center;
    width: 80%;
  }
  .main .introduction .member .member__content .member__photo {
    align-self: center;
  }
  .main .our-work {
    margin-top: min(30vw, 30vh);
    flex-direction: column;
  }
  .main .our-work .our-work__photo {
    margin-right: 0;
  }
  .main .our-work .our-work__details {
    padding-left: 0%;
  }
  .main .purposes {
    align-items: center;
    margin-top: min(350px, min(43.75vw, 43.75vh));
    flex-direction: column;
  }
  .main .purposes .purposes__photo {
    width: min(368px, min(46vw, 46vh));
    height: min(397.3333333333px, min(49.6666666667vw, 49.6666666667vh));
  }
  .main .purposes .purposes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    gap: min(10px, min(1.25vw, 1.25vh));
  }
  .main .purposes .purposes-list .purposes-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: min(32px, min(4vw, 4vh));
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-number {
    align-self: center;
    box-sizing: border-box;
    display: block;
    width: min(57px, min(7.125vw, 7.125vh));
    height: min(35px, min(4.375vw, 4.375vh));
    padding: min(8px, min(1vw, 1vh));
    margin-bottom: min(8px, min(1vw, 1vh));
    border-radius: min(30px, min(3.75vw, 3.75vh));
    font-family: "Outfit", sans-serif;
    font-size: min(16px, min(1.6vw, 1.6vh));
    letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
    line-height: min(18px, min(1.8vw, 1.8vh));
    font-weight: 400;
    text-align: center;
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.green {
    background-color: rgb(130, 203, 172);
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.red {
    background-color: rgb(255, 127, 150);
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-number.yellow {
    background-color: rgb(234, 215, 27);
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: min(80px, min(10vw, 10vh));
    font-family: "Outfit", sans-serif;
    font-size: min(35px, min(3.5vw, 3.5vh));
    letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
    line-height: min(36px, min(3.6vw, 3.6vh));
    font-weight: 400;
    text-align: center;
    font-weight: 700;
  }
  .main .purposes .purposes-list .purposes-list__item .purposes-list__item-details {
    font-family: "Outfit", sans-serif;
    font-size: min(18px, min(1.8vw, 1.8vh));
    letter-spacing: min(0.48px, min(0.048vh, 0.048vw));
    line-height: min(26px, min(2.6vw, 2.6vh));
    font-weight: 400;
    text-align: center;
  }
}